<div data-role="popup" id="popup<%= result.data %>" data-position-to="origin" data-theme="a">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <p> Do you want to add <%= result.title %> to the playlist?</p>
    <a href="#" data-rel="back" data-role="button" class="addsong" data-theme="a">Yes</a>       
</div>