html {
	height: 100%;
}

body {
	/* Allows footer to stick to the bottom of the page */
	position: relative;
	/* Makes some room for the footer */
	padding-bottom: 80px;
	min-height: 100%;
}

footer {
	background-color: #333;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
}

.splash {
	padding-bottom: 80px;
	background-color: #202349;
}

.splash > .contents {
	margin-top: 100px;
}

.splash > .contents .lead {
	margin-bottom: 50px;
}

.splash > .contents {
	text-align: center;
}

.splash > .contents .btn-large {
	margin: 0px 12px;
}

.splash > .header {
	padding-top: 8px;
}
