<div class="song-container">
	<div class="vote-label negative"><div class="inner">- 4</div></div>
	<div class="vote-label positive"><div class="inner">+ 2</div></div>
	<div class="inner">
		#1 <strong>Lipsum dolor</strong> - Lorem sit
	</div>
</div>
