<!DOCTYPE html>
<html>
    <head>
        <title>Tunes² empower your tunes.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet/less" type="text/css" href="lib/bootstrap/less/bootstrap.less" />
        <link rel="stylesheet/less" type="text/css" href="app/css/style.less" />
    </head>
    <body>
        <div id="side-panel">
            <div id="player"></div>
            <div id="playlist"></div>
            <div id="party-info"></div>
        </div>
        
        <div id="main-panel">
            <div id="navbar"></div>
            <div id="main-contents"></div>
        </div>
        <script data-main="app/js/main" src="lib/require.js"></script>
    </body>
</html>