<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tunesquared - vote for your playlist !</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0," />

    <link rel="stylesheet" type="text/css" href="/m/lib/bootswatch/cyborg/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="/m/css/style.css" />

    <script data-main="/m/js/main" src="lib/require.js"></script>

  </head>

  <body>
    <!-- Default content on page load
      <img id="logo" src="#" alt="[Awesome logo]" title="brand" />
    -->

    <div id="app">

    <!-- ->
    <script type="text/template" id="partyTemplate">
      <!-- -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" id="open-menu">
              <span class="icon-reorder"></span>
            </button>
            <div class="navbar-search">
              <button type="button" >
                <span class="icon-search"></span>
              </button>
              <form action="#">
                <input type="text" />
              </form>
            </div>
            <a href="../" class="navbar-brand brand-offset">My awesome party</a>
          </div>
        </nav>

        <div class="side-menu">
          <div class="menu">
            <a class="btn btn-default menu-close" ><span class="icon-chevron-left"></span> Back</a>
            <ul class="nav nav-stacked">
              <li class="active"><a href="#">Party</a></li>
              <li><a href="#">Share</a></li>
            </ul>
          </div>
        </div>

        <div class="content">
          <!-- songs here -->
          <div class="playlist-song">
            <div class="thumbnail">
              <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
            </div>
            <div class="btn-group vote-buttons song-action">
              <button type="button" class="btn btn-default btn-success"><i class="icon-thumbs-up"></i> 10</button>
              <button type="button" class="btn btn-default btn-danger">20 <i class="icon-thumbs-down"></i></button>
            </div>
            <h2>AC/DC Back in black</h2>
          </div>
          <div class="playlist-song">
            <div class="thumbnail">
              <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
            </div>
            <div class="btn-group vote-buttons song-action">
              <button type="button" class="btn btn-default btn-success"><i class="icon-thumbs-up"></i> 10</button>
              <button type="button" class="btn btn-default btn-danger">20 <i class="icon-thumbs-down"></i></button>
            </div>
            <h2>AC/DC Back in black</h2>
          </div>
          <div class="playlist-song">
            <div class="thumbnail">
              <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
            </div>
            <div class="btn-group vote-buttons song-action">
              <button type="button" class="btn btn-default btn-success"><i class="icon-thumbs-up"></i> 10</button>
              <button type="button" class="btn btn-default btn-danger">20 <i class="icon-thumbs-down"></i></button>
            </div>
            <h2>AC/DC Back in black</h2>
          </div>

          <div class="col-xs-12">
          <em>No more matches in playlist.</em>
          <h3>Add a new song to the playlist:</h3>
        </div>
          <div class="playlist-song search-result">
            <div class="thumbnail">
              <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
            </div>
            <button type="button" class="btn btn-default song-action">Add</button>
            <h2>AC/DC Back in black</h2>
          </div>
          <div class="playlist-song search-result">
            <div class="thumbnail">
              <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
            </div>
            <button type="button" class="btn btn-default song-action">Add</button>
            <h2>AC/DC Back in black</h2>
          </div>
          <div class="playlist-song search-result">
            <div class="thumbnail">
              <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
            </div>
            <button type="button" class="btn btn-default song-action">Add</button>
            <h2>AC/DC Back in black</h2>
          </div>

        </div>
      <!-- ->
    </script>
    <!-- -->

    <script type="text/template" id="songTemplate">
      <div class="playlist-song">
        <div class="thumbnail">
          <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
        </div>
        <div class="btn-group vote-buttons song-action">
          <button type="button" class="btn btn-default btn-success"><i class="icon-thumbs-up"></i> 10</button>
          <button type="button" class="btn btn-default btn-danger">20 <i class="icon-thumbs-down"></i></button>
        </div>
        <h2>AC/DC Back in black</h2>
      </div>
    </script>

    <script type="text/template" id="searchSongTemplate">
      <div class="playlist-song search-result">
        <div class="thumbnail">
          <img src="http://i.ytimg.com/vi/pAgnJDJN4VA/1.jpg" alt="img"/>
        </div>
        <button type="button" class="btn btn-default song-action">Add</button>
        <h2>AC/DC Back in black</h2>
      </div>
    </script>

    <!-- -->
    <script type="text/template" id="joinTemplate">
      <!---->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button class="navbar-help" type="button" data-toggle="collapse" data-target=".navbar-help-panel">
            <span class="icon-question"></span>
          </button>
          <a href="../" class="navbar-brand">Tune²</a>
        </div>

        <div class="collapse navbar-help-panel">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>What is this ?</h2>
            <p class="lead">Tunesquared allows you to choose the music that is being played at some place or event.</p>
            <p>If you want attend such event, <strong>ask someone for the party name</strong>, then <strong>type it in the text field</strong> below and start picking your favourite songs!</p>
            <p>If you want to create such an event, please visit our <a href="/">main page</a>.<br />&nbsp;</p>
          </div>
        </div>
      </nav>


      <div class="container center">
        <h1>Welcome to tunesquared</h1>
        <p class="lead">
          Join a party and start choosing what you want to listen to.
        </p>

        <form class="form" role="form">
          <div class="form-group">
            <input type="text" class="form-control" id="partyNameInput" placeholder="Enter party name">
          </div>
          <button type="submit" class="btn btn-primary btn-large join-party-btn">Join this party!</button>
        </form>
      </div>
      <!-- -->
    </script>
    <!-- -->

    </div>
  </body>
</html>
