<!DOCTYPE html>
<html class="no-js ui-mobile-rendering" lang="en">
    <head>
        <title>Tunesquared - vote for your playlist !</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0-rc.1/jquery.mobile-1.3.0-rc.1.min.css" />
        <link rel="stylesheet" href="/m/app/css/themes/green.min.css" />
        <link rel="stylesheet" href="/m/app/css/mstyle.css" />

        <script data-main="/m/app/js/main" src="lib/require.js"></script>

    </head>

  <!-- HomePage - Join a Party -->

    <body>
        <div id="home" data-role="page" data-title="Welcome" data-theme="a">
            <div data-role="header" data-theme="a" >
            <center><img src="/m/app/img/tunelarge2.png" width="150" hspace="15"/></center>
        </div><!-- /header -->

            <div data-role="content" data-theme="a">
                <!-- Make a login page, just put in party name -->

                <form action="join">
                    <input type="text" name="text-join" id="text-join" value="" placeholder="Party_ID">
                    <input type="submit" value="Join playlist!" />
                </form>
            </div><!-- /content -->

            <div data-role="footer" data-theme="a" data-position="fixed" class="ui-btn-active ui-state-persist" >
            <center><p>tunesquared.com</p></center>

            </div><!-- /footer -->
        </div>

   <!-- PartyPage -> Playlist -->

        <div id="party" data-role="page" data-title="Party" data-theme="a">
            <div data-role="header" data-theme="a">
            <img src="/m/app/img/tunelarge2.png" width="120" hspace="15"/>
            <!-- Do we need the refresh button? -->
            <a href="#party" data-icon="refresh" ref="refresh" class="ui-btn-right">Refresh</a>

        </div><!-- /header -->

        <div data-role="header" data-theme="a">
             <div id="currsong" data-role="listview" data-icon="false" > </div>
          </div><!-- /header -->

        <div data-role="content" data-theme="a">



            <div id="votelist" >
            <ul id="dynamicFieldList" data-role="listview" data-filter="true" data-icon="false" data-filter-placeholder="Add new songs and vote.." data-count-theme="a">

            </ul>

            </div>
        </div><!-- /content -->

        <div data-role="footer" data-theme="a" data-position="fixed">
            <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="#party" class="ui-btn-active ui-state-persist" data-icon="bars">Playlist</a></li>
                <li><a href="#share" data-icon="forward">Share URL</a></li>
            </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>


    <!-- Sharing page, QR-Code displayed, Option to share the link with whatsapp or sms (?) -->

    <div data-role="page" id="share" data-theme="a">

        <div data-role="header" data-theme="a">
            <img src="/m/app/img/tunelarge2.png" width="120" hspace="15"/>
        </div><!-- /header -->
         <div data-role="header" data-theme="a">
            <h1> Party_ID: <span ref="party-name"> </span> </h1>
          </div><!-- /header -->

          <div data-role="header" data-theme="a">
            <h1> Current Song: <span ref="curr-song"> </span> </h1>
          </div><!-- /header -->

        <div data-role="content" data-theme="a">

            <div id="qr-code">

            </div>

            <form action="leave">
                <input type="submit" value="Leave Party">
            </form>


        </div><!-- /content -->
        <div data-role="footer" data-theme="a" data-position="fixed">
            <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="#party" data-icon="bars">Playlist</a></li>
                <li><a href="#share" class="ui-btn-active ui-state-persist" data-icon="forward">Share URL</a></li>
            </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>

    <!-- Page, where you get if you hit the enter button in the filter on playlist-page, list of search results -->
    <div data-role="page" id="search" data-theme="a">

        <div data-role="header" data-theme="a">
            <img src="/m/app/img/tunelarge2.png" width="120" hspace="15"/>

        </div><!-- /header -->

        <div data-role="content" data-theme="a">

            <form >
                <input type="search" name="search-1" id="search-1"  placeholder="Search something else.." value="" data-theme="c">
                <!--<input id="addnew" type="button" value="Search"> -->
            </form>
        </br>
        <div id="popups"> </div>
            <div id="results">
                <ul id="dynamicResults" data-role="listview" data-icon="plus" data-count-theme="c">
                </ul>
            </div>
<!--
            <div data-role="popup" id="popupBasic" data-position-to="origin" data-theme="a">
                <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
                   <p> Do you want to add this song to the playlist?</p>
                <a data-role="button" class="Accept" data-theme="a">Yes</a>
            </div>
 -->


        </div><!-- /content -->
        <div data-role="footer" data-theme="a" data-position="fixed">
            <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="#party" data-icon="bars" class="ui-btn-active ui-state-persist">Playlist</a></li>
            </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>

    </body>
</html>
