<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tunesquared - vote for your playlist !</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0," />

    <link rel="stylesheet" type="text/css" href="/m/lib/bootswatch/cyborg/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="/m/css/style.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Woops, this party does not exist.</h1>
      </div>
      <p>
        You were looking for "<%= name %>".<br />
        Maybe you will have better luck if you type it yourself on the <a href="/m">homepage</a>.
      </p>
    </div>
  </body>
</html>
