<!DOCTYPE html>
<html>
  <head>
    <title>Tune² empower your tunes.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="lib/bootswatch/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/welcome.css" />
  </head>
  <body>
    <div class="splash">
      <div class="container header">
        <a class="navbar-brand" href="#">Tune²</a>
        <!--<ul class="nav navbar-nav nav-pills pull-right">
          <li><a href="#">About</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>!-->
        <div class="nav navbar-nav nav-pills pull-right" id="betalogo">
            Beta
        </div>

      </div>
      <div class="container contents">

          <h1>Tune² - Empowers your tune</h1>
          <p class="lead">Let the people choose live what music they want to hear</p>
          <a class="btn btn-large btn-primary" href="#" id="create">Create a party</a>
          <a class="btn btn-large btn-primary" href="/m">Join a party</a>
          <br /> <br /><br /> <br /><br /> <br /><br /> <br />
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid demoline1">
        <div class="contents span12">
          <center>
            <h2>Unleash the power of sound</h2>
            
            <h3 style="color: black;">People at your event choose for the music they want to listen to.</h3>
            <br />
            <img src="/img/speakers.png" class="demoline-lefticon" />
            <img src="/img/equalizer.png" class="demoline-lefticon" />
            <img src="/img/speakers.png" class="demoline-lefticon" />
          </center>
            <br />
              <h4 style="font-size: 28px;">Integrated youtube & grooveshark search</h4>

              <p class="demoline-content">
                Find any music you can think about to your playlists, and blablabla. Blah, blah blah and bla. Blah, bla?!
              </p>

              <h4 style="font-size: 28px;">Another awesome feature</h4>

              <p class="demoline-content">
                This text is just text to fill the design in. Still awesome
              </p>
          
        </div>
      </div>

      <!-- <div class="row-fluid demoline2">
        <div class="contents span12">
          <center>
            <h2>No limit</h2>
            
            <h3 style="color: black;">Add all the music you can think about from YouTube and Grooveshark. Integrated search, automated suggestions.</h3>
      
            <br />
            <img src="/img/infinity.png" />
            </center>
        </div>
      </div>
          
      
      <div class="row-fluid demoline3">
        <div class="contents span12">
            <center>
              <h2>Spread the night</h2>
              
              <h3 style="color: black;">Blablablabla and bla. Because blah.</h3>
      
              <img src="/img/share.png" />
            </center>
        </div>
      </div> -->

    </div>
    
    <footer>
      <div class="container">
        <div class="pull-right">&copy; Tunesquared 2013</div>
      </div>
    </footer>

    <div id="create-dialog"></div>
    <script data-main="js/welcome" src="lib/require.js"></script>
  </body>
  </html>