<!DOCTYPE html>
<html>
    <head>
        <title>Tunes² empower your tunes.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet/less" type="text/css" href="lib/bootstrap/less/bootstrap.less" />
        <script src="/lib/less.js"></script>
    </head>
    <body>
        <div id="navbar"></div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="hero-unit">
                        <h1>Tune²</h1>
                        <p class="lead">When guests choose the music.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3 offset3">
                    <a class="btn btn-large btn-primary" href="#" id="create">Create a party</a>
                </div>
                <div class="span5 offset 1">
                    <a class="btn btn-large btn-primary" href="/m">Join a party</a>
                </div>
            </div>
        </div>
        <div id="create-dialog"></div>
        <script data-main="js/welcome" src="lib/require.js"></script>
    </body>
</html>
