<!DOCTYPE html>
<html>
  <head>
    <title>Tune² empowers your tunes.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="lib/bootswatch/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/welcome.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a class="navbar-brand" href="#">Tune²</a>
        <div class="nav navbar-nav nav-pills pull-right" id="betalogo">
            Beta
        </div>
      </div>
    </div>
    <div class="splash">
      <div class="container contents mainhome">

          <h1>Let the crowd be the DJs.</h1>
          <p class="lead">TuneSquared, the social playlist.</p>
          <a class="btn btn-large btn-primary home-action-btn" href="#" id="create">Create a party</a>
          <a class="btn btn-large btn-default home-action-btn" href="/m">Join a party</a>
          <br /> <br />
          <br /> <br /><br /> <br /><br /> <br />
      </div>
    </div>



    <div class="container demoline">
      <div class="row">
        <div class="contents col-12">
          <center>
            <h2>Your guests play the music.</h2>
          <p class="lead"> They simply add songs to the playlist and vote for the ones they like. All they need is a smartphone with internet connection.</p>
          <h3>Smart, intuitive and fast, create your Party now and stay tuned!</h3>
          <br />
          </center>
        </div>


        <div class="contents col-6">
          <center>
            <h4>Small music collection?</h4>
          </center>
          <p class="lead">Do not worry anymore, simply access all youtube songs through the search. More sources will follow soon.</p>

        </div>

        <div class="contents col-6">
          <center>
            <h4>On your own?</h4>
           </center>


          <p class="lead">Dreaming of an automated home? This might be your first step, control your playlist from your smartphone.</p>


          <center>
            <h4>As DJ?</h4>
           </center>

          <p class="lead">Use it to get propositions from the crowd. Play whatever you want.</p>

        </div>
      </div>
    </div>

    <% include footer.ejs %>

    <div id="create-dialog"></div>
    <script type="text/javascript">
      window.require = {
          waitSeconds: 90
      };
    </script>
    <script data-main="js/welcome" src="lib/require.js"></script>
  </body>
  </html>
