<!DOCTYPE html>
<html>
  <head>
    <title>Tune² empowers your tunes.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="lib/bootswatch/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/welcome.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a class="navbar-brand" href="#">Tune²</a>
        <div class="nav navbar-nav nav-pills pull-right" id="betalogo">
            Beta
        </div>
      </div>
    </div>
    <div class="splash">
      <div class="container contents mainhome">

          <h1>Let people play their favourite music.</h1>
          <h3>TuneSquared, the social playlist.</h3> <br />
          <a class="btn btn-large btn-primary home-action-btn" href="#" id="create">Create a party</a>
          <a class="btn btn-large btn-default home-action-btn" href="/m">Join a party</a>
           <br />
          <br /> <br /><br /> <br /><br /><br />
      </div>
    </div>



    <div class="container demoline">
      <div class="row">
        <div class="contents col-12">
          <center>
          <h2>Search, add and vote for songs to craft the ultimate soundtrack.</h2>
          <h3>Everyone. Together.</h3>
          <p class="lead">With TuneSquared, everyone can be the DJ. <br />All you need is a phone with internet connection. Easy.</p>


          </center>
        </div>


        <div class="contents col-6">

          <center>
            <h4>How does it work?</h4>
          </center>
          <p class="lead">When a song ends, simply the one with the highest rating in the playlist starts.</p>


          <center>
            <h4>Small music collection?</h4>
          </center>
          <p class="lead">Any song on Youtube can be accessed using the search feature (with more sources to be added soon), no worries.</p>

        </div>

        <div class="contents col-6">
          <center>
            <h4>Planning a party?</h4>
          </center>
          <p class="lead">Don't lose hours looking for music, let your guests make the playlist on the spot. (Honestly, happens anyway, they always want to plug in their phones and show you something.) </p>


          <center>
            <h4>On your own?</h4>
           </center>


          <p class="lead">You can control the music straight from your smartphone from the comfort of your own sofa.</p>

        </div>

        <div class="contents col-12">
          <center>
          <h2>Create your Party now and stay tuned!</h2>

          </center>
        </div>

      </div>
    </div>

    <% include footer.ejs %>

    <div id="create-dialog"></div>

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("28e2611a0534edac40bc3d7fb3b22bf4");</script><!-- end Mixpanel -->

    <script type="text/javascript">
      window.require = {
          waitSeconds: 90
      };
    </script>
    <script data-main="js/welcome" src="lib/require.js"></script>
  </body>
  </html>
