<!DOCTYPE html>
<html>
  <head>
    <title>Tune² empower your tunes.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="lib/bootswatch/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/welcome.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a class="navbar-brand" href="#">Tune²</a>
        <!--<ul class="nav navbar-nav nav-pills pull-right">
          <li><a href="#">About</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>!-->
        <div class="nav navbar-nav nav-pills pull-right" id="betalogo">
            Beta
        </div>
      </div>
    </div>
    <div class="splash">
      <div class="container contents mainhome">

          <h1>Let the crowd be the DJs.</h1>
          <p class="lead">Tune², the social playlist.</p>
          <a class="btn btn-large btn-primary home-action-btn" href="#" id="create">Create a party</a>
          <a class="btn btn-large btn-default home-action-btn" href="/m">Join a party</a>
          <br /> <br />
          <br /> <br /><br /> <br /><br /> <br />
      </div>
    </div>


    <div class="row-fluid demoline1">
      <div class="contents col-12">
        <center>
          <h2>With TuneSquared, your guests play the music.</h2>
        <p class="lead"> They simply add songs to the playlist and vote for the one they like. All they need is a smartphone with internet connection.</p>
        <h3>Smart, simple and fast, create your Party now and stay tuned!</h3>
        <br />
        </center>
      </div>

      <div class="contents col-6">
        <center>
          <h4>Small music collection?</h4>
        </center>
        <p class="lead">Do not worry anymore, simply access all youtube songs through the search. More sources will follow soon.</p>

      </div>

      <div class="contents col-6">
        <center>
          <h4>On your own?</h4>
         </center>

        <p class="lead">Have you been dreaming of an automated home? Control your playlist from your smartphone.</p>

        <center>
          <h4>As DJ?</h4>
         </center>

        <p class="lead">Use it to get propositions from the crowd. Play whatever you want.</p>

      </div>


       <div class="contents col-12">

          <h2>How it works..</h2>

          <p>A cool schema will be inserted here with some text explaining how to use tunesquared.</p>

        <br />
        <br />
      </div>



    </div>





    </div>

    <footer>
      <div class="container">
        <div class="pull-right">&copy; TuneSquared 2013</div>
      </div>
    </footer>

    <div id="create-dialog"></div>
    <script data-main="js/welcome" src="lib/require.js"></script>
  </body>
  </html>
