<li data-role="list-divider" data-theme="a"> Current Song: </li>
<li >
<a >
    <h3 class="whitesp" ><%= result.title %> </h3>
</a>
</li>

<li data-role="list-divider" data-theme="a"> Playlist: </li>

