<div data-role="popup" id="popup<%= result.data %>" data-position-to="origin" data-theme="a">
    <p> Do you want to add <%= result.title %> to the playlist?</p>
    <button data-theme="a" data-inline="true" class="addsong">Yes</button>
    <button data-theme="a" data-inline="true" class="close2">Cancel</button>    
</div>