<a ref="addToPlaylist">
	<% if(result.thumb) { %>
    <img src="<%= result.thumb %>"/>
    <% } %>
    <h3><%= result.title %> </h3>
    <p>(From : <i><%= result.src %></i>)</p>
</a>
<div ref="asking" >
	<p> Do you want to add "<%= result.title %> " to de playlist? </p>
	<button data-theme="a" ref="ok" data-inline="true" class="addsong">Yes</button>
    <button data-theme="a" data-inline="true" class="close2">Cancel</button>   
<div/>