<div class="row-fluid">
    <div class="span5 offset2">
        <h1>Manage parties</h1>
        <input type="text" name="party-name" class="input-small" value="test" /> <a href="#" data-event="click create" class="btn"><i class="icon-plus"></i> Add party</a>
    </div>
    <div class="span4 offset 1">
        <div data-view="collec"></div>
    </div>
</div>